/* Banner */
.banner {
    margin: 10px 0;    
}
.c-banner__img {
    width: 100%;
}

/* Header */
.header {
    height: var(--header-height);
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

/* Navbar */
.header-nav {
    display: flex;
    justify-content: space-between;
}
.header-nav__list,
.header-nav__items,
.header-nav__links {
    display: inline-flex;
    align-items: center;    
}
.header-nav__list {
    padding-left: 0;
    margin: 4px 0 0;
}
.nav__no-pointer,
.header-nav__links {
    text-decoration: none;
    color: var(--head-color);
    font-size: 1.4rem;
    font-weight: 300;    
}
.header-nav__items {
    position: relative;
    padding: 4px 6px;
    min-height: 20px;
}
.header-nav__icon {
    font-size: 1.8rem;
    margin-right: 8px;
}
.nav-separate {/*|*/
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    height: 16px;
}
.header-nav__links:hover {
    color: var(--hover-color);    
}
.nav-open-qr:hover .nav-qr,
.nav-open-notify:hover .nav-notify {
    display: block;
}

/* QR-Code */
.nav-qr {
    position: absolute;
    width: 186px;
    background-color: white;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    box-shadow: 0 2px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.4s;
    display: none;
    z-index: 2;
}
.nav-qr__img {
    width: 100%;
    border: 1px solid #000000;
}
.nav-qr__app {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.nav-app__img {
    width: 100%;
}
.nav-qr__links {
    margin: 0 4px;
}
.nav-qr::after {
    content: "";
    position: absolute;
    display: block;
    width: 80%;
    height: 20px;    
    left: 0;
    top: -7px;    
}

/* Notify */
.nav-notify {
    position: absolute;
    width: 404px;
    top: 118%;
    right: 0;    
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    cursor: default;   
    animation: topRun ease-in 0.2s;
    transform-origin: calc(100% - 32px) top;
    will-change: opacity, transform; 
    z-index: 2;    
    display: none;
}
.nav-notify__heading {    
    margin-left: 12px;    
    user-select: none;
}
.nav-notify__heading h2 {
    font-size: 1.6rem;
    color: var(--heading-color);
}
.nav-notify__empty {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.nav-notify__empty h3 {
    font-size: 1.4rem;
    font-weight: 300;
}
.nav-notify__img {
    width: 50%;    
    padding: 50px 50px 20px;
}
.nav-notify__footer--btn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--bg-color);
    margin-top: 30px;
}
.nav-notify__btn {
    text-decoration: none;     
    color: var(--text-color);    
    font-size: 1.6rem;
    font-weight: 500;      
    padding: 10px 60px;  
}
.nav-notify__btn:hover {
    color: var(--primary-color);
    background-color: var(--op-hover-color);
}
.nav-notify::before {/*▲*/
    content: "";
    position: absolute;
    right: 4px;
    top: -28px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.nav-notify::after {
    content: "";
    position: absolute;
    display: block;    
    right: 0;
    top: -14px;
    width: 30%;
    height: 20px;    
}

/* Logobar */
.header-logobar {
    height: var(--logobar-height);
    display: flex;
    align-items: center;
    margin: 0 5px;
}

/* Logo */
.header-logo {
    width: 200px;
}
.header-logo__link {
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}
.header-logo__img {
    width: 130px;
}

/* Search */
.header-search {
    flex: 1;
    height: 38px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1;
}
.header-search__wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header-search__box {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    border-radius: 2px;
    padding: 0 16px;
}
.search-history.active,
.header-search__box:focus ~ .search-history {
    display: block;
}
.header-search__select {
    position: relative;
    cursor: pointer;
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
}
.header-search__label {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header-search__icon {
    position: relative;
    font-size: 1.4rem;
    color: #838383;
    margin: 0 16px 0 8px;
    top: 1px;
}
.header-search__select:hover .search-option {
    display: block;
}
.header-search__btn {
    width: 50px;
    height: 34px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 2px;
    margin-right: 2px;
    outline: none;
}
.header-search__btn-icon {
    font-size: 1.6rem;
    color: var(--head-color);
}
.header-search__btn:hover {
    cursor: pointer;
    background-color: var(--second-color);
}

/* Search-History */
.search-history {
    position: absolute;
    top: calc(100% + 6px);
    width: calc(100% - 10px);
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
    overflow: hidden;
    z-index: 1;
}
.search-history__heading {
    margin: 6px 15px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--heading-color);
}
.search-history__list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}
.search-history__items {
    height: 38px;
    padding: 0 15px;    
}
.search-history__links {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}
.search-history__items:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.search-history__items:hover {
    background-color: var(--op-hover-color);    
}

/* Search-Option */
.search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 6px);
    width: 130px;
    padding-left: 0;
    list-style: none;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgb(224, 224, 224);
    animation: fadeIn ease-in 0.2s;
    display: none;
    z-index: 1;
}
.search-option__items {
    background-color: white;
    padding: 8px;
}
.search-option__items:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.search-option__items span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.search-option__items i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}
.search-option__active i {
    display: inline-block;
}
.search-option::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 22px;
    top: -19px;    
}
.search-option__items:hover {
    background-color: #eee;
}

/* Cart */
.header-cart {
    width: 150px; 
    text-align: center;   
}
.header-cart__wrap {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0 12px;
    -webkit-tap-highlight-color: transparent;/*Mobile*/
}
.header-cart__icon {
    font-size: 2.4rem;
    color: var(--head-color);
    margin-top: 6px;
}
.header-cart__wrap:hover .cart-list {
    display: block;
}

/* Cart-List */
.cart-list {
    background-color: white;
    width: 400px;
    position: absolute;
    right: 1px;
    top: calc(100% + 9px);
    cursor: default;
    border-radius: 2px;
    box-shadow: 0 2px 3rem rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
    display: none;
}
.cart-list__heading {
    text-align: left;
    margin: 8px 12px;
    user-select: none;
}
.cart-list__heading h2 {
    color: var(--heading-color);
    font-size: 1.6rem;    
}
.cart-list__img {
    width: 60%;
    padding: 10px 50px 0;    
}
.cart-list__text {
    font-size: 1.6rem;
    font-weight: 300;
}
.cart-list::after {/*▲*/
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    cursor: pointer;
}
.cart-list::before {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -20px;
    width: 20%;
    height: 20px;    
}
.cart-list__footer {    
    min-height: 50px;
}

/* Device-Nav & Search */
.header-device__nav,
.header-device__search {    
    padding: 0 12px;
    display: none;
}
.header-device__icon {
    font-size: 2.6rem;
    color: white;
}
.device-search__checkbox:checked ~ .header-search {
    display: flex;
}
.device-nav__checkbox:checked ~ .device-nav__overlay {
    display: block;
}

/* Device-Menu */
.device-nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn linear 0.3s;
    display: none;
    z-index: 1;
}
.device-nav__form {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 250px;
    max-width: 100%;
    background-color: white;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    z-index: 1;
}
.device-nav__wrap {
    margin: 5px;  
    margin-top: 50px;    
}
.device-nav__list {
    background-color: var(--bgc-color); 
    list-style: none;
    padding-left: 20px;
}
.device-nav__items {
    display: flex;
    align-items: center;    
}
.device-nav__items a {
    text-decoration: none;    
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 8px 5px;
    text-transform: uppercase;
}
.device-nav__items i {
    padding: 4px 0 8px;
    color: var(--primary-color);
    font-size: 1.6rem;
}
.device-nav__close-btn {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 1rem;
    right: 2rem;
    fill: var(--heading-color);
}
.device-nav__checkbox:checked ~ .device-nav__form {
    transform: translateX(0%);
    opacity: 1;
}

/* Device Sortbar */
.header-device__sortbar {
    position: fixed;    
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-height);
    background-color: white;
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: none;
}
.header-device__sort-links {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    height: 100%;
    line-height: var(--header-sort-height);
    text-align: center;
}
.header-device__sort-links::before {/*|*/
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid var(--border-color);
    transform: translateY(-50%);
}
.header-device__sort-active .header-device__sort-links {
    color: var(--primary-color);
}

/* Content */
.content {
    background-color: var(--bgc-color);
    margin-top: 121px;    
}
.content-wrap {
    padding: 15px 0;
}
.content-top__nav {
    font-size: 1.6rem;   
    line-height: 150%; 
}
.content-top__links {
    text-decoration: none;
    padding: 0 5px;
}
.content-top__right {
    margin: 0 5px;
}

/* Slider */
.slider {
    padding: 5px;    
    background-color: white;
}
.slider-left {
    height: 294px;
    position: relative;
    overflow: hidden;
}
.slider-list {
    width: 300%;
    height: 100%;
    position: absolute;    
    display: flex;
    flex-direction: column;
}
.slider__links {
    width: calc(100%/3);
    height: 100%;
    display: none;
}
.slider-img {
    width: 100%;
}
.sbanner-img {
    width: 100%;
}
.slide-btn {
    width: 150px;
    height: 40px;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;    
}
.slide-dot {
    width: 45px;
    height: 40%;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: white;
}
.slider__links.active {
    display: block;
}
.slide-dot.active,
.slide-dot:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    border: 2px solid white;
    transition: 0.5s;
}

/* Category */
.category {
    padding: 5px;
    background-color: white;
    margin: 20px 0; 
    position: relative;   
}
.category-heading {
    color: var(--text-color);
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 1.6rem;
    font-weight: 400;
}
.category-list {
    list-style: none;
    display: flex;
    padding-left: 0;
    background-color: white;    
}
.category-items {    
    flex: calc(100% / 6);
    width: calc(100% /6);
    text-align: center;
    padding: 15px;
    border: 1px solid var(--border-color);
}
.category-links {    
    text-decoration: none;
    display: block;
}
.category-icon {
    max-width: 60px;
}
.category-name {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 10px 0;
    color: var(--text-color);
}
.category-items:hover {    
    border: 1px solid var(--hover-color);
    box-shadow: 0 2px 1rem 0 rgba(0, 0, 0, 0.2);    
}

/* Device-Category */
.device-category {
    display: none;
}
.device-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}
.device-category__items {
    flex-shrink: 0;
    margin-right: 10px;
}
.device-category__links {
    --line-height: 2rem;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 300;    
    line-height: var(--line-height);
    display: block;
    width: 110px;
    height: calc(var(--line-height) * 2);
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.device-category__items:nth-of-type(2n + 1) .device-category__links {
    background-color: var(--primary-color);
    border: 1px solid white;    
}
.device-category__items:nth-of-type(2n + 2) .device-category__links {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-weight: 600;
}
.device-category__list::-webkit-scrollbar {
    display: none;
}
.device-category__links span {
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;    
}

/* Product */
.product {
    background-color: white;    
    margin-bottom: 20px;
    padding: 0 20px 10px;
}
.product__heading {
    color: var(--primary-color);
    font-size: 1.6rem;    
    padding: 20px 0 0;    
    text-transform: uppercase;    
}
.product__heading-2 {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px 0 0;    
    text-transform: uppercase;
}
.product-items {
    background-color: white;
    display: block;
    text-decoration: none;    
    position: relative;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid var(--border-color);    
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 5px;
    height: 96%;    
    transition: transform ease-in 0.1s;
    will-change: transform;
}
.product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.product-item__name {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    height: 3.6rem; 
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;    
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 0 10px 10px;
}
.product-item__old {
    font-size: 1.4rem;
    color: var(--heading-color);
    text-decoration: line-through;
    margin-right: 5px;
}
.product-item__cur {
    font-size: 1.6rem;
    color: var(--primary-color);    
}
.product-item__lable {
    position: absolute;
    top: 15px;
    left: -5px;    
    background-color: var(--primary-color);    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
}
.product-item__lable h3 {
    font-size: 1.6rem;
    font-weight: 500;    
    color: white;
    text-align: center;
    padding: 0 5px; 
    margin: 5px;       
}
.product-item__lable::after {/*◥*/
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}
.product-view {
    width: 100%;
    margin-top: 15px;
    display: inline-flex;
    justify-content: center;        
}
.product-item__info {
    color: var(--heading-color);    
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
}
.product-item__info span {
    font-size: 1.3rem;
    font-weight: 400;
    margin-right: 15px;
    line-height: 18px;    
}
.product-item__btn { 
    width: 100%;   
    display: inline-flex;
    justify-content: center;
    padding: 10px;
}
.product-item__buy {
    min-width: 50px;        
    display: none;   
}
.product-items:hover {
    border: 1px solid var(--primary-color);
}
.product-items:hover .product-item__buy {
    display: block;
}

/* Product-Detail */
.product-detail {
    background-color: white;    
}
.product-detail__name {        
    font-size: 2.6rem;
    line-height: 100%;
    margin: 10px;
    padding: 14px 0;
    border-bottom: 2px solid var(--border-color);  
}
.product-detail__items {
    background-color: white;    
    padding: 10px 0;  
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.product-detail__img {
    width: 100%;
    margin: 10px 0;
}
.product-detail__view-list {
    padding: 10px 0;
}
.product-detail__item-img {
    width: 82px;    
}
.product-detail__item-img:hover {
    border: 1px solid var(--primary-color);
}
.product-price__cur {
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-right: 20px;
}
.product-price__old {
    font-size: 1.8rem;
    text-decoration: line-through;
    color: var(--heading-color);
}
.product-detail__price,
.product-detail__model {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.product-model__color {
    max-width: 80px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 8px;
    margin: 0 5px;
    border: 2px solid var(--heading-color);
    color: var(--text-color);
}

/* Footer */
.footer {
    padding-top: 14px;
    border-top: 4px solid var(--primary-color);
    background-color: white;
}
.footer-heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list {
    padding-left: 0;
    list-style: none;
}
.footer-items {
    padding-left: 0;    
}
.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 4px 0;
    display: inline-flex;
    align-items: center;
}
.footer-item__link:hover {
    color: var(--primary-color);
}
.footer-item__icon {
    font-size: 1.6rem;
    margin: -2px 8px 0 0;
}
.footer-items__pay {
    display: inline-flex;    
    padding: 10px 0;    
}
.footer-item__pay-icon {
    height: 22px;
    margin-right: 10px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
}
.footer-dowload {
    display: flex;
}
.footer-dowload__qr {
    width: 90px;
    height: 90px;    
    border: 1px solid var(--border-color);
}
.footer-dowload__apps {
    flex: 1;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.footer-dowload__apps-link {
    color: transparent;
    text-decoration: none;    
}
.footer-dowload__img {
    width: 90px;
}
.footer__bottom {
    background-color: var(--bg-color);
    padding: 8px 0;
    margin-top: 35px;
    color: var(--heading-color);
}
.footer__copyright {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
}

/* Auth */
.auth-container {
    background-color: rgba(216, 42, 23, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.auth-form {
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    position: relative;
    margin: 100px auto;
}
.auth-form__body {
    padding: 0 25px;
}
.auth-form__group {
    display: flex;
    flex-direction: column;
}
.auth-form__group.invalid .auth-form__input {
    border-color: var(--primary-color);
}
.auth-form__group.invalid .auth-form__mess {
    color: var(--primary-color);
}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 10px;
}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);    
}
.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;    
}
.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}
.auth-form__input:focus {
    border-color: #888;
}
.auth-form__mess {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
    margin-left: 4px;    
}
.auth-form__aside {
    margin-top: 18px;        
}
.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    margin-top: 30px;
}
.btn-form__controls-black {
    margin-right: 8px;
}
.auth-form__socials {
    background-color: var(--bg-color);
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__socials-icon {
    font-size: 1.8rem;
}
.auth-form__socials-face {
    color: white;
    background-color: #3a5a98;
}
.auth-form__socials-face 
.auth-form__socials-icon {
    color: white;
}
.auth-form__socials-label {
    margin: 0 18px;
}
.auth-form__socials-goog {
    color: #666;
    background-color: var(--bgc-color);
}
.fa-google {  
    background: conic-gradient(
    from -45deg, 
    #ea4335 110deg, 
    #4285f4 90deg 180deg, 
    #34a853 180deg 270deg,
    #fbbc05 270deg) 
    73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.auth-form__help {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-form__help-separate {
    display: block;
    height: 24px;
    margin: -4px 16px 0;
    border-left: 1px solid #eaeaea;
}
.auth-form__help-forgot {
    color: var(--primary-color);
}